/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/css3";
@import "compass/reset";

$primary-color: #330408;
$element-size: 100px;
$margin: 2px;

body {
  color: $primary-color;
}

.player {
  display: none;
}

.content {
  background: url("../images/back.png") repeat;
  width: 100%;
  height: 1000px;
}

.xo_board {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  border: solid 3px $primary-color;
//  border-radius: 20px;
  top: 200px;
  background: #ffffff;
}

.board_element {
  width: $element-size - $margin*2;
  height: $element-size - $margin*3;
  display: inline-block;
  background: #ffffbc;
  margin: $margin;
}
