/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass";
@import "compass/reset";

$primary-color: #330408;
$element-size: 100px;
$margin: 2px;
$xo-height: 73px;
$xo-width: 72px;

body {
  color: $primary-color;
}

.player {
  display: none;
}

.content {
  background: url("../images/dark_wood.png") repeat;
  width: 100%;
  height: 1000px;
}

.xo_board {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  top: 200px;
}

.xo, .xo_x, .xo_o {
  width: $xo-width;
  height: $xo-height;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
}

.xo_x {
  background: url(../images/sprite/xo.png) 0 0;
}

.xo_o {
  background: url(../images/sprite/xo.png) -$xo-width 0;
}

.board_element {
  width: $element-size - $margin*2;
  height: $element-size - $margin*2;
  display: inline-block;
  background: url("../images/back.png");
  margin: 0 $margin 0 $margin;
}

.temp {
  opacity: 0.3;
}

.toad {
  position: relative;
  float: left;
  width: 400px;
  height: 450px;
  margin: 20px 60px;
}

.message {
  width: 200px;
  height: 180px;
  position: relative;
  float: right;
  background: url("../images/info_bubble.png")top right no-repeat;
}

.message .text{
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 165px;
  float: right;
  margin: 30px 0;
}

.start {
  background: url("../images/start.png") no-repeat 0 120px;
}

.winner {
  background: url("../images/winner.png") no-repeat 0 120px;
}
.no_winner {
  background: url("../images/no_winner.png") no-repeat 0 120px;
}

.res {
  width: 40px;
  height: 40px;
  margin: 10px auto;
}

.winner_x {background: url("../images/sprite/xo_min.png") no-repeat;}
.winner_o {background: url("../images/sprite/xo_min.png") -40px 0 no-repeat;}
.winner_no {background: url("../images/star.png") no-repeat;}

.reset {
  width: 300px;
  text-align: center;
  position: relative;
  float: right;
}
